* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    --bg-body: rgba(230, 230, 223, 0.592);
    --bg-class: #ffffff;
    --color-text: rgb(26, 24, 24);
    --bg-btn: #ffffff;
    --bg-btn-hover:  rgb(0, 115, 255);
    --btn-border: rgb(0, 115, 255);
    --btn-color-hover: #ffffff;
    --btn-color: rgb(0, 115, 255);

}

.light {
    --bg-body: rgba(0, 0, 0, 0.853);
    --bg-class: #000000b4;
    --color-text: rgb(255, 255, 255);
    --bg-btn: #000000b4;
    --bg-btn-hover:  rgb(0, 115, 255);
    --btn-border: rgb(0, 115, 255);
    --btn-color-hover: #ffffff;
    --btn-color: rgb(0, 115, 255);
}

body {
    display: block;
    background: var(--bg-body);
}

p, h4 {
    font-size: 1.2rem;
    color: var(--color-text);
}

.TimeWork {
    display: block;
    border-radius: 1rem;
    width: 25.0rem;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
    margin-bottom: 1rem;
    background: var(--bg-class);
    box-shadow: 1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);;
}

.TimeWork button{
    margin-left: 15rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 0.5rem;
    border: 1px solid  var(--btn-border);
    color: var(--btn-color);
    background: var(--bg-btn);
}

.TimeWork button:hover {
    background-color: var(--bg-btn-hover);
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-border);
    cursor: pointer;
}

.TimeWork h4 {
    margin-left: 2.8rem;
    position: absolute;
    top: 5.7rem;
}

.TimeWork img {
    position: absolute;
    top: 5.5rem
}

.TimeDays {
    padding: 2rem;
}

.Contact {
    display: block;
    border-radius: 1rem;
    width: 25.0rem;
    margin: 0 auto;
    padding: 3rem;
    margin-bottom: 1rem;
    background: var(--bg-class);
    box-shadow: 1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.Contact h4 {
    margin-left: 2.8rem;
    position: absolute;
    top: 35.4rem;
}

.Contact p {
    padding: 1.0rem;
    position: absolute;
    top: 38rem;
}

.Contact button {
    width: 12rem;
    margin-left: 8rem;
    margin-top: 5rem;
    padding: 1rem;
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    font-size: 1.2rem;
    background-color: var(--bg-btn);
    border-radius: 1rem;
}

.Contact button:hover {
    background-color:  var(--bg-btn-hover);
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-border);
    cursor: pointer;
}

.Contact img {
    position: absolute;
    top: 35.5rem;
}

.Acess {
    padding: 1.5rem;
    display: block;
    border-radius: 1rem;
    width: 25.0rem;
    margin: 0 auto;
    padding: 6rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
    background: var(--bg-class);
    box-shadow: 1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);;
}

.Acess h4 {
    margin-left: 2.8rem;
    position: absolute;
    top: 51.8rem;
}

.Acess button {
    width: 12rem;
    margin-top: 2.5rem;
    margin-left: 8rem;
    padding: 1rem;
    color:var(--btn-color);
    border: 1px solid var(--btn-border);
    font-size: 1.2rem;
    background-color: var(--bg-btn);
    border-radius: 1rem;
}

.Acess button:hover {
    background-color: var(--bg-btn-hover);
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-border);
    cursor: pointer;
}

.Acess img {
    position: absolute;
    top: 51.8rem;
}

.Location {
    padding: 1rem;
    display: block;
    border-radius: 1rem;
    width: 25.0rem;
    height: 13rem;
    margin: 0 auto;
    background: var(--bg-class);
    box-shadow: 1rem 1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);;
}

.Location p {
    font-size: 1.2rem;
    margin-left: 1.8rem;
    position: absolute;
    top: 66rem;
}

.Location img {
    position: absolute;
    top: 66.1rem;
}

.Location button {
    margin-bottom: 2rem;
    margin-top: 6rem;
    margin-left: 7em;
    width: 14rem;
    padding: 1rem;
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    font-size: 1.2rem;
    background-color: var(--bg-btn);
    border-radius: 1rem;
}

.Location button:hover {
    background-color:  var(--bg-btn-hover);
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-border);
    cursor: pointer;
}

@media (min-width: 1120px) {
    p, h4 {
        font-size: 1.4rem;
    }
    
    .TimeWork {
        width: 100rem;
    }

    .TimeWork button {
        margin-left: 86rem;
        width: 10rem;
    }

    .TimeWork img {
     position: absolute;
     top: 5.8rem;
    }
    
    .TimeDays {
        padding: 3rem;
    }
    
    .Contact {
        width: 100rem;
        padding: 3rem;
    }
    
    .Contact h4 {
        position: absolute;
        top: 41rem;
    }

    .Contact img {
        position: absolute;
        top: 41rem;
    }
    
    .Contact p {
        position: absolute;
        top: 45rem;
    }
    
    .Contact button {
        margin-left: 80rem;
    }
    
    
    .Acess {
        width: 100rem;
    }
    
    .Acess h4 {
        position: absolute;
        top: 56rem;
    }
    
    .Acess button {
        margin-left: 8rem;
    }
    
    .Acess img {
        position: absolute;
        top: 56.5rem;
    }
    
    .Location {
        width: 100rem;
    }
    
    .Location p {
        font-size: 1.4rem;
        margin-left: 4.8rem;
        position: absolute;
        top: 70rem;
    }
    
    .Location img {
        margin-left: 2rem;
        position: absolute;
        top: 70rem;
    }
    
    .Location button {
        margin-left: 6em;
    }
    
}
